{% extends "base.html" %}

{% block contenido %}
  <div class="row justify-content-center my-5 p-5">
    <div class="col-12">
      <div class="text-center">
        <div class="">
          <div class="mb-4">
            <i class="fa-solid fa-gears display-1"></i>
          </div>
          <h2 class="display-2 my-4">Estamos presentando problemas</h2>
          <p class=" text-muted fs-5 mb-4">Esta acción no se pudo completar debido a un error interno, por favor intenta nuevamente más tarde, estamos trabajando para arreglarlo.</p>
          <a href="{% url 'landing' %}" class="btn btn-dark">Ir al inicio</a>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}
