{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card p-4" style="width: 100%; max-width: 400px;">
    <h3 class="text-center mb-4 fw-semibold">Iniciar sesión</h3>

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-dark w-100 mt-3"><i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión</button>
      <div class="text-center mt-3">
        <a href="{% url 'account_signup' %}">¿No tienes una cuenta? Regístrate</a>
      </div>
    </form>
  </div>
</div>
{% endblock contenido %}
