<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow mb-4" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Luis Mario Suárez | Cursos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href='{% url "landing" %}'><i class="fa-solid fa-house"></i> Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ranking-star"></i> Cursos Destacados
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Python desde 0</a></li>
            <li><a class="dropdown-item" href="#">Django Básico</a></li>
            <!-- <li><a class="dropdown-item" href="#">Django Rest Framework</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Ingeniería en Backend</a></li>
            <!-- <li><a class="dropdown-item" href="#">Ingeniería en Inteligencia Artificial</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Pandas y NumPy</a></li>
            <!-- <li><a class="dropdown-item" href="#">FastAPI</a></li> -->
            <!-- <li><a class="dropdown-item" href="#">PostgreSQL</a></li> -->

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"><i class="fa-solid fa-user"></i> Iniciar sesión / Registrarse</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Cursos y Guías" aria-label="Search"/>
        <button class="btn btn-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>