<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow mb-4" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'landing' %}">UpTech | LMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href='{% url "landing" %}'><i class="fa-solid fa-house"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href=''><i class="fa-solid fa-tv"></i> Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href=''><i class="fa-solid fa-book"></i> Clases</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ranking-star"></i> Destacados
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="">Ofertas para estudiantes</a></li>
            <li><a class="dropdown-item" href="">Quiero ser educador</a></li>
            <!-- <li><a class="dropdown-item" href="#">Django Rest Framework</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="">Mi especialidad</a></li>
            <!-- <li><a class="dropdown-item" href="#">Ingeniería en Inteligencia Artificial</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="">Conoce más sobre la plataforma</a></li>
            <!-- <li><a class="dropdown-item" href="#">FastAPI</a></li> -->
            <!-- <li><a class="dropdown-item" href="#">PostgreSQL</a></li> -->
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        {% if user.is_authenticated %}
          <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              <i class="fa-solid fa-circle-user"></i> {{ user.get_full_name|default:user.username }}
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><a href="{% url 'account_profile' %}" class="dropdown-item" type="button"><i class="fa-solid fa-gear"></i> Configuración</a></li>
              <li><button class="dropdown-item" type="button"><i class="fa-solid fa-bookmark"></i> Mis Cursos</button></li>
              <li><button class="dropdown-item" type="button"><i class="fa-solid fa-users"></i> Mis compañeros</button></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="{% url 'account_logout' %}" class="dropdown-item" type="button"><i class="fa-solid fa-right-to-bracket"></i> Cerrar sesión</a></li>
            </ul>
          </div>
        {% else %}
            <a class="btn btn-outline-primary" href="{% url 'account_login' %}"><i class="fa-solid fa-user"></i> Iniciar sesión / Registrarse</a>
        {% endif %}
      </form>
    </div>
  </div>
</nav>