{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="row justify-content-center py-5">
    <div class="col-lg-8 text-center">
        <h1 class="display-4 fw-semibold mb-3">Aprendizaje <span class="text-primary">en línea</span>, a tu ritmo.</h1>
        <p class="fs-5 text-muted mb-4">
            Cursos prácticos y actuales para que desarrolles nuevas habilidades desde cualquier lugar. Sin
            distracciones, sin complicaciones.
        </p>
        <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
            <a href="#" class="btn btn-dark px-4">
                <i class="fa-solid fa-folder-tree me-2"></i> Explorar cursos
            </a>
            <a href="#" class="btn btn-dark px-4">
                <i class="fa-solid fa-file-import"></i> Inscribirme a una clase
            </a>
            <a href="#" class="btn btn-outline-dark px-4">
                <i class="fa-solid fa-coins me-2"></i> Ver precios
            </a>
        </div>
    </div>
</div>

<div class="row g-3 text-center my-4">
    {% for curso in cursos %}
    <div class="col-md-4 d-flex">
        <div class="card shadow-sm h-100 w-100">
            <img src="{{ curso.portada.url }}" class="card-img-top" alt="{{ curso.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ curso.nombre }}</h5>
                <p class="card-text">{{ curso.descripcion }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'curso_detalle' curso.pk %}" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i> Más información</a>
                <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-user-plus"></i> Inscribirme</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p>Aun no hemos destacado cursos.</p>
    </div>
    {% endfor %}
</div>

<div class="row text-center">
  <div class="col-md-4 mb-4">
    <div class="p-4 card shadow-sm rounded-4 h-100">
      <i class="bi bi-mouse-fill display-3 text-primary mb-3"></i>
      <h4 class="fw-semibold">1. Explora Nuestros Cursos</h4>
      <p class="text-muted">Navega por nuestra plataforma y descubre programas diseñados para impulsar tu crecimiento personal y profesional.</p>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="p-4 card shadow-sm rounded-4 h-100">
      <i class="bi bi-play-circle-fill display-3 text-primary mb-3"></i>
      <h4 class="fw-semibold">2. Aprende a tu Propio Ritmo</h4>
      <p class="text-muted">Accede a contenidos interactivos y clases en video desde cualquier lugar y en cualquier momento.</p>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="p-4 card shadow-sm rounded-4 h-100">
      <i class="bi bi-patch-check-fill display-3 text-primary mb-3"></i>
      <h4 class="fw-semibold">3. Certifica tus Conocimientos</h4>
      <p class="text-muted">Al finalizar tus cursos, obtén certificados que respaldan tus habilidades y mejoran tu perfil profesional.</p>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-12 card text-bg-dark">
    <div class="card-body text-center py-5">
      <h2 class="fw-bold mb-3 display-5">¡Acceso Anticipado Exclusivo!</h2>
      <p class="fs-5 mb-4 text-light">
        Sé de los primeros en aprovechar nuestra plataforma. Accede antes que nadie y desbloquea ventajas únicas solo para miembros fundadores.
      </p>
      <a href="{% url 'lanzamiento' %}" class="btn btn-light px-4 py-2">
        <i class="fa-solid fa-circle-info"></i> Conoce los beneficios
      </a>
      <p class="mt-3 small">
        Cupo limitado. ¡No dejes pasar esta oportunidad!
      </p>
    </div>
  </div>
</div>

<!-- Proximos cursos -->
<div class="row my-4">
  <div class="col-12">
    <h2 class="fw-bold display-5 mb-4">Próximos Cursos</h2>
  </div>
  <div class="col-12">
    <div id="carouselCartas" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- Primer slide -->
        <div class="carousel-item active">
          <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
            <div class="card">
              <img src="{% static 'imagenes/intro_info.jpg' %}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Introducción a la Informática</h5>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'imagenes/intro_programacion.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Introducción a la Programación</h5>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'imagenes/intro_python.jpg' %}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Python para Principiantes</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- Segundo slide -->
        <div class="carousel-item">
          <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
            <div class="card">
              <img src="{% static 'imagenes/flask_intro.jpg' %}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Introducción a Flask para IA</h5>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'imagenes/rest_api.jpg' %}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">REST API para Principiantes</h5>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'imagenes/backend_principiantes.jpg' %}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Introducción al Backend</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Controles -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCartas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCartas" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

  </div>
</div>

<!-- Proximos cursos -->
<div class="row my-4">
  <div class="col-12">
    <h2 class="fw-bold display-5 mb-4">Biblioteca</h2>
    <p class="fs-5 text-muted mb-4">Proximamente.</p>
  </div>
</div>

<!-- Stack de tecnologías y empresas -->

<div class="card-body text-center my-5">
  <div class="card">
    <div class="card-header">
      <h2 class="fw-bold card-title">Tecnologías y Empresas Asociadas</h2>
      <p class="text-muted">
        Colaboramos con las mejores empresas y utilizamos tecnologías de vanguardia para ofrecerte una experiencia de aprendizaje excepcional.
      </p>
    </div>
    <div class="card-body">
      <div class="row justify-content-center align-items-center g-4">
        <!-- Django -->
        <div class="col-4 col-sm-2">
          <img src="{% static 'imagenes/django-icon.svg' %}" alt="Django" class="img-fluid mx-auto" style="max-height:75px;">
        </div>
        <!-- Docker -->
        <div class="col-4 col-sm-2">
          <img src="{% static 'imagenes/docker-icon.svg' %}" alt="Docker" class="img-fluid mx-auto" style="max-height:75px;">
        </div>
        <!-- Cloudflare -->
        <div class="col-4 col-sm-2">
          <img src="{% static 'imagenes/cloudflare-icon.svg' %}" alt="Cloudflare" class="img-fluid mx-auto" style="max-height:75px;">
        </div>
        <!-- Nginx -->
        <div class="col-4 col-sm-2">
          <img src="{% static 'imagenes/nginx.svg' %}" alt="Nginx" class="img-fluid mx-auto" style="max-height:75px;">
        </div>
        <!-- Redis -->
        <div class="col-4 col-sm-2">
          <img src="{% static 'imagenes/redis.svg' %}" alt="Redis" class="img-fluid mx-auto" style="max-height:75px;">
        </div>
        <!-- Stripe -->
        <div class="col-4 col-sm-2">
          <img src="{% static 'imagenes/stripe.svg' %}" alt="stripe" class="img-fluid mx-auto" style="max-height:75px;">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Sponsor -->
<div class="row my-4">
  <div class="col-12">
    <div class="card text-bg-danger">
      <div class="card-body d-flex align-items-center">
        <div class="col-4 text-center">
          <i class="fa-solid fa-heart display-3"></i>
        </div>
        <div class="col-8">
          <h5 class="fw-bold">¡Conviértete en Sponsor!</h5>
          <p class="card-text">Apoya nuestra plataforma y obtén beneficios exclusivos.</p>
          <a href="{% url 'pago_sponsor' 1 %}" class="btn btn-light btn-sm"><i class="fa-solid fa-plus"></i> Unirme</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}