{% extends "base.html" %}

{% block contenido %}
<div class="row justify-content-center py-5">
    <div class="col-lg-8 text-center">
        <h1 class="display-4 fw-semibold mb-3">Aprendizaje <span class="text-primary">en línea</span>, a tu ritmo.</h1>
        <p class="fs-5 text-muted mb-4">
            Cursos prácticos y actuales para que desarrolles nuevas habilidades desde cualquier lugar. Sin distracciones, sin complicaciones.
        </p>
        <div class="d-flex justify-content-center gap-3">
            <a href="#" class="btn btn-dark px-4">
                <i class="fa-solid fa-folder-tree me-2"></i> Explorar cursos
            </a>
            <a href="#" class="btn btn-dark px-4">
                <i class="fa-solid fa-file-import"></i> Inscribirme a una clase
            </a>
            <a href="#" class="btn btn-outline-dark px-4">
                <i class="fa-solid fa-coins me-2"></i> Ver precios
            </a>
        </div>
    </div>
</div>

<div class="row g-3 text-center">
    {% for curso in cursos %}
    <div class="col-md-4 d-flex">
        <div class="card shadow-sm h-100 w-100">
            <img src="{{ curso.portada.url }}" class="card-img-top" alt="{{ curso.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ curso.nombre }}</h5>
                <p class="card-text">{{ curso.descripcion }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'curso_detalle' curso.pk %}" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i> Más información</a>
                <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-user-plus"></i> Inscribirme</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p>No hay cursos disponibles en este momento.</p>
    </div>
    {% endfor %}

</div>
{% endblock contenido %}
